*.suo
*.ncb
*.obj
*.dlu
*.user
*.opensdf
*.tlog
*.log
*.lib
*.pch
*.pdb
*.res
*.lastbuildstate
*.dll
*.exp
*.cache
UpgradeLog*
Staging
Temp
Build/x64
Build/Debug
_UpgradeReport_Files
x64
Debug
/Build
/ipch/nifplugins_vc2008-4447fb5f
/NifPlugins_VC2010.sdf
